@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
     font-family: 'Inter', sans-serif;
     background-color: hsl(240, 18%, 77%);
     font: 32px;
}

section {
   
    min-height: 100vh;
	width: 100%;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
	align-items: center;
	justify-content: center;
	background-color: hsl(204, 43%, 93%);
    padding: 100px 30px;
}

.testimonial-card {
    background-color: white;
    width: 800px;
    height: 452px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    padding: 50px;
    border: 1px solid green;
}

.image {
    width: 300px;
    height: auto;
    border-radius: 2%;
    position: relative;
    z-index: 10;
}

.testimony {

}

.curve {
    margin: -50px;
    margin-top: -0px;
    border: 1px solid red;
    position: relative;
    z-index: 1;
    height: 100px;
    width: 300px;
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}
   
.attribution a { 
    color: hsl(228, 45%, 44%); 
}