@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* change fom px to rem for fonts */

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

html {
    --main-BG: hsl(230, 17%, 14%);
    --top-BG: hsl(232, 19%, 15%);
    --Card-BG: hsl(228, 28%, 20%);
    --font-1: hsl(228, 34%, 66%);
    --hover:  hsl(228, 28%, 30%);
    --font-2: hsl(0, 0%, 100%);
}

html[data-theme='light'] {
    --main-BG: hsl(0, 0%, 100%);
    --top-BG: hsl(225, 100%, 98%);
    --Card-BG: hsl(227, 47%, 96%);
    --font-1: hsl(228, 12%, 44%);
    --hover:  hsl(227, 47%, 91%);
    --font-2: hsl(230, 17%, 14%);
}

.attribution { 
    font-size: 14px; 
    text-align: center; 
    color: var(--font-2);
   
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration-line: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h4, h3, h2 {
    color: var(--font-2);
    margin-left: 30px;
}

h5 {
   color: var(--font-1);
   margin-left: 60px;
   padding-top: 1px;
}

header {
    position: absolute;
    z-index: 10;
    height: 150px;
    width: 100%;
    padding: 10px;
    background-color: var(--top-BG);
    display: grid;
    grid-template-columns: 80% auto;
    grid-template-rows: auto auto;
}

header h2 {
    margin-left: 60px;
}

small {
    font-size: 10px;
}

.likes-views, .followers {
    color: var(--font-1);
}

.likes-views, .username {
    font-size: 12px;
}

.white {
    color: var(--font-2);
}

.lower-section .white {
    font-size: 24px;
    font-weight: 700;
}

.username {
    color: var(--font-1);
    display: inline-flex;
}

.green {
    color: hsl(163, 72%, 41%);
}

.red {
    color: hsl(356, 69%, 56%);
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--main-BG);
}

.wrapper {
    width: 100%; 
    min-height: 100vh;
    display: grid;
	align-items: center;
    justify-content: stretch;
    padding: 80px 30px;
} 


/* Toggle button and styling */

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: linear-gradient(90grad, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
	display: block;
	border-radius: 15px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: var(--Card-BG);
	border-radius: 90px;
    transition: 0.3s;
    
}

input:checked + label {
    background: hsl(230, 22%, 74%);
    
}

input:checked + label:after {
	left: calc(100% - 5px);
    transform: translateX(-100%);
    
}

label:active:after {
	width: 45px;
}

section {
    width: 100%;   
    
}

section .upper-section, section .lower-section {
	display: grid;
    grid-template-columns: 100%;
    grid-gap: 15px;
    padding: 30px;
    position: relative;
    z-index: 5000;
}

.upper-section .overview-link {
    margin-right: 5px;
}

.upper-section div {
    text-align: center;
    padding: 10px 0px 10px 0px;
    border-radius: 5px;
    background-color: var(--Card-BG);
}

.upper-section div p {
    margin: 10px 0px 10px 0px;
}

.upper-section h6 {
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 2px;
}

.upper-section .white {
    font-size: 40px;
    font-weight: 700;
}

.upper-section div {
    position: relative;
}

.upper-section .fb:before {
    content: "";
    display: block;
    background-image: linear-gradient(to right,  hsl(208, 92%, 53%),  hsl(208, 92%, 53%));
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 3px 3px 0 0;
}

.upper-section .tw:before {
    content: "";
    display: block;
    background-image: linear-gradient(to right, hsl(203, 89%, 53%), hsl(203, 89%, 53%));
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 3px 3px 0 0;
}

.upper-section .ig:before {
    content: "";
    display: block;
    background-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 3px 3px 0 0;   
}

.upper-section .yt:before {
    content: "";
    display: block;
    background-image: linear-gradient(to right, hsl(348, 97%, 39%), hsl(348, 97%, 39%));
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 3px 3px 0 0;   
}

.lower-section {
    grid-template-rows: repeat(2, 100px);     
}

.lower-section div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    background-color: var(--Card-BG);
    border-radius: 5px;
}

.lower-section .overview-link, small {
     justify-self: end;
}

.lower-section small {
    margin-top: 30px;
}

.lower-section .white {
    margin-top: 10px;
}

@media only screen and (min-width: 768px) {
	section .upper-section, section .lower-section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);;
    },

    .lower-section {
        grid-template-rows: repeat(2, 100px);     
    },

    .lower-section div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}